* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .headerImg {
    width: 100%;
    /* height: 100vh; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)),
      url("indiagate.jpg");
    background-repeat: no-repeat;
    /* background-size: cover; */
    /* position: relative; */
  }
  .imgDiv {
    position: relative;
  }
  .mainContent {
    position: absolute;
    top: 50%;
  }
  nav {
    width: 100%;
    /* height: 15vh; */
    background: rgb(247, 243, 243);
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: sticky;
    top: 0%;
  }
  
  .logo {
    width: 15%;
    text-align: center;
  }
  .logo1 {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* width: 15%; */
    font-weight: 600;
    font-size: 15px;
    background-color: rgb(105, 22, 239);
    padding: 12px;
    text-align: center;
    /* margin-top: auto; */
    width: 160px;
    border-radius: 10px;
  }
  .logo1 a {
    color: white;
    text-decoration: none;
  }
  
  .logo p {
    font-size: 12px;
    color: grey;
  }
  .menu {
    width: 45%;
    display: flex;
    /* justify-content: space-around; */
    gap: 45px;
    font-weight: 600;
  }
  .menu a {
    color: rgb(99, 99, 99);
    text-decoration: none;
  }
  .menu a:hover{
    color: black;
  }
  .maincontainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .textcontainer {
    width: 50%;
    /* font-size: 20px;
      font-weight: 800; */
    padding-top: 10%;
    padding-left: 5%;
  
    padding-right: 5%;
  }
  .paraContent {
    font-size: 20px;
    font-weight: 500;
    padding-top: 20px;
  }
  .btnContainer {
    font-size: 18px;
    font-weight: 600;
    background-color: red;
    color: rgb(253, 250, 250);
    padding: 12px;
    width: 180px;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
  }
  .btnContainer:hover {
    background-color: skyblue;
  }
  .imgContainer {
    width: 100%;
  }
  .imgdiv {
    width: 50%;
  }
  .maincontainer1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
  }
  .imgdiv1 {
    width: 50%;
  }
  .textcontainer1 {
    width: 50%;
    /* font-size: 20px;
      font-weight: 800; */
    padding-top: 3%;
    padding-left: 1%;
    padding-right: 5%;
  }
  .hclass1 {
    font-size: 20px;
    font-weight: 700;
  }
  .paraContent1 {
    font-size: 15px;
    font-weight: 500;
    padding-top: 20px;
  }
  .paraContent2 {
    font-size: 15px;
    font-weight: 500;
    padding-top: 10px;
  }
  .imgContainer1 {
    width: 55%;
    border: 1px solid gray;
    margin-left: 100px;
    margin-top: 20px;
  }
  .imgContainer2{
    display: flex;
    margin-left: 42em;
    
  }
  .btnContainer1 {
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(12, 51, 209);
    color: rgb(246, 241, 241);
    padding: 12px;
    width: 180px;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
  }
  .btnContainer1:hover {
    background-color: rgb(177, 211, 39);
  }
  .headline {
    font-size: 25px;
    font-weight: 900;
    padding-top: 65px;
    text-align: center;
    color: rgb(53, 52, 52);
  }
  
  .imgg {
    width: 25%;
    border: 1px solid rgb(125, 122, 122);
    display: flex;
    justify-content: center;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .imgcon {
    width: 180px;
    height: 120px;
  
    /* margin-left: 102px;
    margin-top: 40px; */
    padding: 20px;
  }
  
  .imglogo {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 30px;
  }
  .LogoImg{
    margin-left: 20px;
  }
  
  .headline1 {
    justify-content: center;
    text-align: center;
  }
  
  .h1class {
    margin-top: 100px;
    font-weight: 400;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  
  .h2class {
    /* margin-top: 10px; */
    font-weight: 100;
    line-height: 2.7;
    font-family: "AR One Sans", sans-serif;
  }
  .h3class {
    margin-top: 20px;
    font-weight: 400;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .h4class {
    margin-top: 20px;
    font-weight: 400;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .h5class {
    margin-top: 60px;
    font-weight: 400;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: white;
    font-size: 40px;
  }
  .linebar {
    margin-top: 20px;
    font-weight: 600;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 17px;
  }
  
  .headline2 {
    justify-content: center;
    text-align: center;
    background-color: rgb(223, 236, 248);
    padding: 10px 15px;
    width: 80%;
    margin: auto;
  }
  .headline3 {
    justify-content: center;
    text-align: center;
    background-color: rgb(223, 236, 248);
    margin-top: 40px;
    margin-left: 10%;
    width: 80%;
    padding: 10px 15px;
  }
  .headline4 {
    justify-content: center;
    text-align: center;
    margin-top: 40px;
    background-color: rgb(223, 236, 248);
    margin-left: 10%;
    width: 80%;
    padding: 10px 15px;
  }
  .headline5 {
    justify-content: center;
    text-align: center;
    margin-top: 40px;
    background-color: rgb(77, 77, 221);
    width: 100%;
    padding: 10px;
  }
  .headclass1 {
    /* width: 30%; */
    /* background-color: red; */
    margin-top: 20px;
  }
  .linebar {
    font-size: 20px;
  }
  .classh2 {
    margin-top: 30px;
    font-weight: 400;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .classp {
    margin-top: 15px;
    font-family: "AR One Sans", sans-serif;
    height: 60px;
  }
  .classp1 {
    margin-top: 10px;
    font-family: "AR One Sans", sans-serif;
    /* height: 60px; */
  }
  .classp2 {
    margin-top: 10px;
    font-family: "AR One Sans", sans-serif;
  }
  .classp3 {
    margin-top: 10px;
    font-family: "AR One Sans", sans-serif;
    color: rgb(214, 214, 214);
  }
  .imgbox {
    padding: 20px;
    width: 30%;
  }
  .imgbox1 {
    padding: 20px;
    width: 30%;
  }
  .imgbox2 {
    padding: 10px;
    width: 30%;
  }
  .headclass2 {
    padding: 20px;
    width: 30%;
  }
  .headclass3 {
    padding: 20px;
    width: 30%;
  }
  .headclass4 {
    padding: 20px;
    width: 30%;
    border: 2px solid white;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 0px gray;
  }
  .headclass5{
    padding: 20px;
    width: 30%;
    border: 2px solid white;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 0px gray;
  }
  .headclass6{
    padding: 20px;
    width: 30%;
    border: 2px solid white;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 0px gray;
  }
  .headclass7{
    /* padding: 20px; */
    width: 22%;
    height: 350px;
    /* border: 2px solid black; */
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 0px 30px 0px gray;
  }
  .headclass8{
    width: 22%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 0px 30px 0px gray;
  }
  .headclass9{
    width: 22%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 0px 30px 0px gray;
  }
  .headclass10{
    width: 22%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 0px 30px 0px gray;
  }
  .headclass11{
    width: 31%;
    color: rgb(197, 194, 194);
    margin-top: 50px;
    padding-left: 40px;
  }
  .headclass12{
    width: 30%;
    color: rgb(197, 194, 194);
    margin-top: 29px;
  }
  .headclass13{
    /* margin-top: 366px;
    margin-left: -1379px; */
    padding: 36px;
  }
  
  .headclass14 input {
   color: rgb(99, 99, 99);
   padding: 22px;
   font-size: 15px;
  
  }
  input{
    height: 40px;
    width: 350px;
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid  rgb(4, 36, 61);
  }
  .imgphoneIcon{
    width: 100%;
    height: 140px;
    border-radius: 10px 10px 0px 0px;
    
  }
  .textComp{
    padding:10px 15px;
  }
  .productimg {
    width: 50px;
  }
  .productimg1 {
    width: 120px;
    margin-top: 25px;
  }
  .productimg2 {
    width: 120px;
    margin-top: 25px;
  }
  .productimg3 {
    width: 150px;
    margin-top: 20px;
  }
  .productimg4 {
    width: 70px;
  }
  .productimg5 {
    width: 70px;
    margin-top: 25px;
  }
  .productimg6 {
    width: 180px;
    margin-top: 55px;
  }
  .productimg7 {
    margin-top: 20px;
    width: 60px;
  }
  .productimg8 {
    margin-top: 20px;
    width: 60px;
  }
  .fleximgBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
  }
  .fleximgBox1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
  }
  .fleximgBox2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
  }
  .fleximgBox3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 80px;
    gap: 10px;
  }
  .fleximgBox4 {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    width: 85%;
    gap: 30px;
    margin-top: -100px;
    margin-left: 10%;
  }
  .fleximgBox5{
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  width: 90%;
  gap: 18px;
  margin:2% 9%;
  }
  .fleximgBox6{
    /* display: flex; */
    background-color: rgb(4, 36, 61);
    width: 100%;
    height: 700px;
    margin-top: 70px;
  }
  .FooterFirstcomp{
    display: flex;
  }
  .FooterFirstcomp1{
    display: flex;
    margin-top: 3em;
    margin-left: 37px;
  }
  .LastLinkBar{
    color: rgb(197, 194, 194);
    font-family: "AR One Sans", sans-serif;
    font-size: 14px;
  }
  .padd{
   display: flex;
   width: 50%;
   /* border: 2px solid rgb(188, 26, 26); */
  }
  .flexarticle{
    margin-left: 9%;
    margin-top: 7%;
    font-size: 22px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .headcont {
    margin-top: 30px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .headcont1 {
    margin-top: 30px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .headcont2 {
    margin-top: 30px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .headcont3 {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin-top: 30px;
  }
  .headcont4 {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin-top: 30px;
  }
  .headcont5 {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    color: white;
    margin-top: 20px;
    margin-left: 100px;
    padding-top: 120px;
    font-size: 40px;
  }
  .headcont6{
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    padding-right: 133px;
    padding-top: 40px;
    font-size: 17px;
  }
  .headcont7{
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    padding-top: 15px;
    color: rgb(77, 77, 221);
  }
  .headcont8{
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 18px;
    color: white;
    /* padding-top: 15px; */
  }
  .imgicon{
   padding: 18px;
    /* width: 50px; */
    /* padding: 10px 15px; */
    border: 2px solid rgb(77, 77, 221);
    background-color:rgb(77, 77, 221);
    border-radius: 10px;
    
  }
  .imgicon1{
    padding: 15px;
    border: 2px solid rgb(77, 77, 221);
    background-color:rgb(77, 77, 221);
    border-radius: 10px;
  }
  .imgicon2{
    padding: 15px;
    border: 2px solid rgb(77, 77, 221);
    background-color:rgb(77, 77, 221);
    border-radius: 10px;
  }
  .imgContainerIcon{
    margin-top: -50px;
  }
  
  .maincont {
    margin-top: 10px;
    font-family: "AR One Sans", sans-serif;
    font-size: 15px;
  }
  .maincont1 {
    margin-top: 10px;
    font-family: "AR One Sans", sans-serif;
    font-size: 15px;
  }
  .maincont2 {
    margin-top: 10px;
    font-family: "AR One Sans", sans-serif;
    font-size: 15px;
  }
  .maincont3 {
    margin-top: 10px;
    font-family: "AR One Sans", sans-serif;
    font-size: 15px;
  }
  .maincont4 {
    margin-top: 10px;
    font-family: "AR One Sans", sans-serif;
    font-size: 15px;
  }
  .maincont5 {
    margin-top: 10px;
    font-family: "AR One Sans", sans-serif;
    color: white;
    font-size: 15px;
    /* margin-top: 20px; */
    margin-left: 100px;
    padding-top: 25px;
    /* font-size: 30px; */
  }
  .maincont6 {
    font-family: "AR One Sans", sans-serif;
    color: white;
    font-size: 15px;
    margin-left: 100px;
    margin-top: 5px;
  }
  .maincont7{
    font-family: "AR One Sans", sans-serif;
    margin-top: 30px;
    font-size: 15px;
  }
  .maincont8{
    font-family: "AR One Sans", sans-serif;
    padding-top: 25px;
    font-size: 13px;
  }
  .maincont9{
    font-family: "AR One Sans", sans-serif;
    padding-top: 20px;
    font-size: 14px;
  }
  .maincont10{
    font-family: "AR One Sans", sans-serif;
    padding-top: 20px;
    font-size: 14px;
    color: white;
    font-size: 15px;
  }
  .maincont11{
    font-family: "AR One Sans", sans-serif;
    padding-top: 20px;
    font-size: 14px;
   color:  rgb(197, 194, 194) ;
  }
  
  .search {
    margin-top: 10px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    text-decoration: underline;
    text-decoration-color: hsl(229, 78%, 42%);
  }
  .search1 {
    margin-top: 10px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    text-decoration: underline;
    text-decoration-color: hsl(229, 78%, 42%);
  }
  .search2 {
    margin-top: 10px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    text-decoration: underline;
    text-decoration-color: hsl(229, 78%, 42%);
  }
  .searchbar {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: blue;
    background-color: white;
    margin: 40px 620px;
    font-weight: 600;
    font-size: 15px;
    padding: 20px;
    text-align: center;
    width: 160px;
    border-radius: 10px;
  }
  .searchbar1{
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: blue;
    margin-top: 30px;
    
  }
  .searchbar11{
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: blue;
    margin-top: 50px;
  }
  .searchbar12{
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: blue;
    margin-top: 47px;
  }
  .searchbar13{
    padding: 13px;
    border-radius: 10px;
    border: none;
    background-color: rgb(77, 77, 221);
    color: white;
    font-size: 15px;
  }
  hr{
    width: 90%;
    margin-left: 37px;
    /* padding: 0 4px; */
    color: rgb(124, 123, 123);
    height: 1px;
    /* overflow: visible; */
    /* text-align: center; */
  }
  /* hr:after{
    top: -13px;
    position: relative;  
    content: '$';
  } */
  
  
  .searchcont{
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    padding-top: 15px;
  
  }
  .backimg {
    /* background-color: red;
    width: 50%;
    height: 20px;
    margin-left: 10px; */
    width: 100%;
  }
  .backgroundimg {
    width: 100%;
    /* background-color: red; */
    background-image: linear-gradient(rgba(2, 13, 16, 0.921), rgba(3, 18, 24, 0.826)),url("backgroundimg.jpg");
    /* background-color: black;
     opacity: 0.2px; */
    height: 500px;
    background-size: cover;
  }
  .backgrdimg {
    height: 700px;
    width: 100%;
    background-size: cover;
  }
  @media (min-width: 768px) {
    .maincontainer1 {
      display: flex;
      flex-direction: row;
      width: 100%;
    }
    .imgdiv1 {
      width: 100%;
    }
    .imgContainer1 {
      width: 100%;
  
      margin-left: 0px;
    }
    .textcontainer1 {
      width: 100%;
      /* font-size: 20px;
                  font-weight: 800; */
      padding: 2% 4%;
    }
  }
  